.about-container {
  min-height: 75vh;

  .about-header {
    padding-left: 2em;
    margin-top: 150px;
  }

  .about-body {
    padding: 0 5em 5em;

    .signature {
      padding-top: 1em;
    }
  }
}
