.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}

#card-grid {
  padding: 2em;
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .new-recipe-button {
    padding-bottom: 2em;
    padding-right: 2em;
  }
}
