.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.footer {
  display: flex;
  justify-content: flex-end;

  .new-recipe-button {
    padding-bottom: 2em;
    padding-right: 2em;
  }
}
