.form-container {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  background-color: #f7f6f3;

  .update-button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    padding-top: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .form-container{
    padding: 2em .5em 0 .5em;
  }
}