.banner-header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6/*  */)), url("../assets/spices1.jpg");
  background-size: cover;
  height: 30em;
  margin-top: 90px;
  display: flex;
  justify-content: center;
  background-position-y: 50%;

  .banner-title {
    position: absolute;
    align-self: center;
    transform: translate(0, 90%);
    color: white;
    text-align: center;

    h1 {
      display: flex;
      margin: 0;
      font-size: 3rem;
      white-space: wrap;
      font-family: 'Roboto Slab', serif;
    }
  }
}

@media only screen and (max-width: 600px) {
  .banner-header {
    height: 20em;
  }
}
