.banner-header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url("https://media3.s-nbcnews.com/j/newscms/2019_41/3044956/191009-cooking-vegetables-al-1422_ae181a762406ae9dce02dd0d5453d1ba.fit-2000w.jpg");
  background-size: auto;
  height: 500px;
  margin-top: 90px;
  display: flex;
  justify-content: center;

  .banner-title {
    position: absolute;
    align-self: center;
    transform: translate(0, 90%);
    color: white;
    text-align: center;

    h1 {
      display: flex;
      margin: 0;
      font-size: 3rem;
      white-space: wrap;
      font-family: 'Roboto Slab', serif;
    }
  }




}
