.card-component {
  &:hover {
    .card-image {
      opacity: 0.8;
      transform: scale(1.03);
      transition: transform 3s cubic-bezier(0.25, 0.25, 0.25, 0.25);
    }
  }

  .recipe-name {
    padding-left: 1em;
    margin-bottom: -1em;
  }
}