.grid-container {
  justify-content: center;
  margin-top: 2em;

  .paper {
    height: 365;
    width: 325;
    display: flex;
    flex-direction: column;

    .card-image-container {
      width: 325px;
      height: 280px;
      object-fit: contain;

      .media {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      .media {
        opacity: 0.8;
        transform: scale(1.03);
        transition: transform 3s cubic-bezier(0.25, 0.25, 0.25, 0.25);
      }
    }

    .recipe-title {
      display: flex;
      align-self: center;
      width: 300px;
      height: 100px;
      
      h2{
        align-self: center;
      }
    }
  }
}
