.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .grid-item {
    margin: 2em 2em 4.5em 2em;
    width: 350px;
    height: 400px;
    cursor: pointer;

    .media {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .5em;
    }

    &:hover {
      .media {
        opacity: 75%;
      }
    }

    p {
      color: black;
      font-size: 1.2em;
      text-align: center;
      font-family: Roboto Slab;
      margin-top: 0em;
    }
  }
}

@media only screen and (max-width: 600px) {
  .grid .grid-item {
    margin: 2em 0 4.5em 0;
  }
}