.fab-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 1400px;
    z-index: 1;

    .new-recipe-button {
        padding-bottom: 2em;
        padding-left: 2em;
    }

    .scroll-to-top {
        padding-right: 2em;
    }
}
